.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

.log-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.log-controls {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  margin-bottom: 1rem;
}

.log-level-btn {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.log-level-btn.info {
  background-color: #5bc0de; /* Bootstrap's info color */
  color: white;
}

.log-level-btn.debug {
  background-color: #5cb85c; /* Bootstrap's success color */
  color: white;
}

.log-level-btn.error {
  background-color: #d9534f; /* Bootstrap's danger color */
  color: white;
}

.log-level-btn.warning {
  background-color: #f0ad4e; /* Bootstrap's warning color */
  color: white;
}

.log-level-btn.active {
  font-weight: bold;
}

.logs-box {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}


.log {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.log-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.log-dot.info {
  background-color: #5bc0de; /* Bootstrap's info color */
}

.log-dot.debug {
  background-color: #5cb85c; /* Bootstrap's success color */
}

.log-dot.error {
  background-color: #d9534f; /* Bootstrap's danger color */
}

.log-dot.warning {
  background-color: #f0ad4e; /* Bootstrap's warning color */
}

.log p {
  margin: 0;
  flex: 1;
}
.log-controls {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  margin-bottom: 1rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input-container {
  position: relative; /* Position relative for absolute positioning */
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
  border-color: #5bc0de;
  box-shadow: 0 0 5px rgba(91, 192, 222, 0.5);
}

.search-input::placeholder {
  color: #aaa;
}
